.to-do-list{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}
h1{
    font-size: 4rem;
}

button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.add-button{
    background-color: green;
}

.add-button:hover{
    background-color: rgb(1, 175, 1);
}

.delete-button{
    background-color: red;
}

.delete-button:hover{
    background-color: rgb(156, 0, 0);
}

.move-button{
    background-color: blue;
}

.move-button:hover{
     background-color: rgb(0, 0, 141);
}


input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
}

ol{
    padding: 0;

}

li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: white;
    margin-bottom: 10px;
    border: 3px solid gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.text{
    flex: 1;
}

.delete-button, .move-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin: 10px;
}